.body-error {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-error .container-error {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.body-error .container-error .image-error {
  width: auto;
  max-width: 400px;
}
.body-error .container-error h1 {
  color: #e74c3c;
  font-size: 36px;
}
.body-error .container-error p {
  font-size: 24px;
}
.body-error .container-error a {
  color: #3498db;
  text-decoration: none;
}
.body-error .container-error a:hover {
  text-decoration: underline;
}
