@font-family-open-sans: 'Open Sans', sans-serif;

body {
    font-family: @font-family-open-sans;
}

.color-red-lantern {
    color: #f988ff;
}

.icon-page-100 {
    width: 100px;
}

.modal-login {
    .modal-body {
        .separation-content {
            width: 100%;
            display: flex;

            .separation-content-center {
                width: 10%;
                display: inline-block;
                text-align: center;
                margin: auto auto;
                font-weight: 600;
                color: #ccc;
            }

            .separation-content-left {
                width: 45%;
                display: inline-block;
                text-align: left;

                hr {
                    border: 0;
                    border-top: 1px solid #ccc;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }
            }

            .separation-content-right {
                width: 45%;
                display: inline-block;
                text-align: right;

                hr {
                    border: 0;
                    border-top: 1px solid #ccc;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }
            }
        }
    }
}

.content-max-width {
    width: 100%;
    max-width: 100%;
}

.content-page {
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;

    .content-centered {
        width: 100%;
        height: auto;
        padding: 0px;
        margin: 0px;
        text-align: center;
        justify-content: center;
        align-items: center;

        .options-centered {
            @media (max-width: 767px){
                width: 95%;
            }
            @media (min-width: 768px){
                width: 60%;
            }
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            box-shadow: 0 0.5rem 1rem rgba(22,28,45,.15);
            border-radius: 5px;
            box-sizing: border-box;
            padding: 1rem;
            cursor: pointer;

            .icon-section {
                font-size: 150px;
                cursor: pointer;
            }

            .title-option {
                font-family: @font-family-open-sans;
                font-size: 18px;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }
}

.section-flex {
    width: 100%;
    max-width: 300px;
    display: flex;

    .divider-tree {
        width: 33%;
        display: inline-block;
    }
}

footer {
    .icon-page {
        width: 120px;
    }

    .icon-footer {
        font-size: 80px;
    }
}

.link-text {
    color: #212529;
    text-decoration: none;
}

.menu {
    .section-max {
        width: 100%;
        height: 45px;
        
        .btn-action-login {
            width: auto;
            background-color: #f988ff;
            padding: 10px 20px;
            border-radius: 25px;
            color: white;
            text-decoration: none !important;
            font-weight: 600;

            &:hover {
                background-color: white;
                color: #f988ff;
                border: solid 2px #f988ff;
            }
        }
    }
    
    .section-max-dropdown {
        .collapsed-custom {
            padding-left: 10px;
            display: none;

            .btn-action-login {
                width: auto;
                background-color: #f988ff;
                padding: 10px 20px;
                border-radius: 25px;
                color: white;
                text-decoration: none !important;
                font-weight: 600;
    
                &:hover {
                    background-color: white;
                    color: #f988ff;
                    border: solid 2px #f988ff;
                }
            }
        }

        &:hover {
            .collapsed-custom {
                display: block;
            }
        }
    }
}

.row-red-lanter {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

    .btn-action-login {
        width: auto;
        background-color: #f988ff;
        padding: 10px 20px;
        border-radius: 25px;
        color: white;
        text-decoration: none !important;
        font-weight: 600;

        &:hover {
            background-color: white;
            color: #f988ff;
            border: solid 2px #f988ff;
        }
    }

    .content-link{
        overflow: hidden;

        .card-img-category {
            flex: 1;
            max-width: none;
            max-height: 100%;
            object-fit: cover;
            width: 100%;
            min-height: 260px;
            max-height: 260px;
            height: 260px;
        }
    }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    img {
        width: 50px;
        height: 50px;
    }
}

  
a, a:visited, a:hover {
    color: inherit;
    text-decoration: none;
}
  
.main {
    width: 100%;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a39a3', endColorstr='#4167a8', GradientType=1 );
  
    .container {
        position: relative;
        padding: 0px;
        margin: 0px;
        width: 100%;
        max-width: 840px;
  
        .border-searching {

            .border {
                stroke-dasharray: 740;
                stroke-dashoffset: 459;
                transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
                -webkit-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
                -moz-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
                -o-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
            }
        }

        .search-box {
            position: relative;
            width: 100%;
            max-width: 360px;
            height: 60px;
            border-radius: 120px;
            margin-left: auto;

            .search-icon{
                position: absolute;
                top: 0px;
                left: 0px;
                height: 60px;
                width: 86px;
                line-height: 61px;
                text-align: center;
            }

            .go-icon {
                position: absolute;
                top: 0px;
                right: 0px;
                height: 60px;
                width: 86px;
                line-height: 61px;
                text-align: center;
            }

            .search-icon {
                left: 0;
                pointer-events: none;
                font-size: 1.22em;
                will-change: transform;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform-origin: center center;
                -webkit-transform-origin: center center;
                -moz-transform-origin: center center;
                -o-transform-origin: center center;
                transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
                -webkit-transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
                -moz-transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
                -o-transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
            }

            .si-rotate {
                transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
            }

            .go-icon {
                right: 0;
                pointer-events: none;
                font-size: 1.38em;
                will-change: opacity;
                cursor: default;
                opacity: 0;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
                -webkit-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
                -moz-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
                -o-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
            }

            .go-in {
                opacity: 1;
                pointer-events: all;
                cursor: pointer;
                transform: rotate(0);
                -webkit-transform: rotate(0);
                -moz-transform: rotate(0);
                -o-transform: rotate(0);
                transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
                -webkit-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
                -moz-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
                -o-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
            }
  
            .search-border {
                display: block;
                width: 100%;
                max-width: 360px;
                height: 60px;
  
                .border {
                    fill: none;
                    stroke: #f988ff;
                    stroke-width: 5;
                    stroke-miterlimit: 10;
                    
                    .border {
                        stroke-dasharray: 740;
                        stroke-dashoffset: 0;
                        transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
                        -webkit-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
                        -moz-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
                        -o-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
                    }
                }
            }
  
            #search {
                font-family: 'Montserrat Alternates', sans-serif;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 120px;
                border: none;
                background: rgba(255, 255, 255, 0);
                padding: 0 68px 0 68px;
                color: #f988ff;
                font-size: 1.32em;
                font-weight: 400;
                letter-spacing: -0.015em;
                outline: none;
        
                &::-webkit-input-placeholder {
                    color: #f988ff;
                }
        
                &::-moz-placeholder {
                    color: #f988ff;
                }
        
                &:-ms-input-placeholder {
                    color: #f988ff;
                }
        
                &:-moz-placeholder {
                    color: #f988ff;
                }
        
                &::-moz-selection {
                    color: #f988ff;
                    background: rgba(0, 0, 0, 0.25);
                }
        
                &::selection {
                    color: #f988ff;
                    background: rgba(0, 0, 0, 0.25);
                }
            }
        }
    }
}

.row {
    .pagination {
        position: relative;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        backdrop-filter: blur(3px);
        border-radius: 2px;

        li {
            list-style-type: none;
            display: inline-block;

            a {
                position: relative;
                padding: 20px 25px;
                text-decoration: none;
                color: #f988ff;
                font-weight: 500;
                
                &:hover {
                    background: #f988ff;
                    color: white;
                }
            }

            .active {
                a {
                    background: #f988ff;
                    color: white;
                }
            }
        }
    }
}

.privileges-scorts {
    height: 400px;
    display: flex;
    margin: 0;
    background: linear-gradient(135deg, #295fd5, #9d8ce0);
    align-items: center;
    justify-content: center;
    user-select: none;
      
    .group {
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        display: flex;
    }
      
    .item {
        width: 15vw;
        height: 350px;
        background-size: cover;
        background-position: center;
        cursor: pointer;
        transition: width 2s ease, height 2s ease;
        margin: 5px;
        border-radius: 5px;

        &:hover {
            width: 30vw;
            height: 350px;
        }
    }
}